@model IEnumerable<CSharp_WebApp.Models.Item>
@{
    ViewData["Title"] = "View Products";
    var items = (List<Item>)ViewData["itemList"];
    bool logged = Context.Request.Cookies["LoggedUser"] != null;
}

<a asp-action="AddItem">Add</a>
<div class="row">
    <h1 class="col-md-4">View Products</h1>
    @if (!logged)
    {
       <a asp-controller="Login" asp-action="SignIn">Please sign in to access your basket</a> 
    }

<table class="table">
    <thead>
        <tr>
            
            <th>
                Product
            </th>
            <th>
                Product Price
            </th>
            <th>
                Product Information
            </th>
            <th>
                Stock Availability
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.itemName)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.itemPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
            @if (logged)
            {               
               <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a>
            }
            </td>
        </tr>
}
    </tbody>
</table>

    </div>
    
